## Create Dummy Data Frame
Let us go ahead and create dummy data from to explore functions.

### Starting Spark Context

Let us start spark context for this Notebook so that we can execute the code provided.

In [ ]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    appName("Processing Column Data").
    master("yarn").
    getOrCreate

In [ ]:
spark

Here are the steps to create dummy dataframe to explore predefined functions.
* Create Scala list
* Make sure `spark.implicits._` is imported. It exposes `toDF` on Scala collections.
* Use `toDF` to create the Dataframe.

In [ ]:
import spark.implicits._

In [ ]:
val l = List("X")

In [ ]:
// Oracle dual (view)
// dual - dummy CHAR(1)
// "X" - One record

Once Data Frame is created, we can use to understand how to use functions. For example, to get current date, we can run `df.select(current_date()).show()`.

It is similar to Oracle Query `SELECT sysdate FROM dual`

In [ ]:
val l = List("X")
val df = l.toDF("dummy")

Here is another example of creating Data Frame using collection of employees. We will be using this Data Frame to explore all the important functions to process column data in detail.

In [ ]:
val employees = List((1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                    )

In [ ]:
employees.size